.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: scaleX(0);
    transform-origin: center top;
    opacity: 0;
    animation: navbarReveal 0.5s ease forwards;
}

.logo-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand {
    font-size: 40px;
    font-weight: bold;
    color: #b8001f;
}

.nav-links {
    color: #ffffff;
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #8D8D8D;
    font-weight: 500;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    color: #b8001f;
    font-weight: 500;
}

.nav-links a.btn{
    background-color: #b8001f;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    transition: all 0.2s ease;
    border: 2px solid transparent;
}

.nav-links a.btn:hover{
    background-color: #ffffff;
    color: #b8001f;
    border: 2px solid #b8001f;
}

.hamburger {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: #b8001f;
}

@keyframes navbarReveal {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}